---
controllers:
  main:
    strategy: RollingUpdate
    containers:
      "{{ .Release.Name }}":
        image:
          repository: ghcr.io/skhtor/foosball-elo-backend
          tag: latest
          pullPolicy: Always
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: foosball-elo-db-secret
                key: DATABASE_URL
          - name: PORT
            value: "8080"
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/health
                port: 8080
              initialDelaySeconds: 10
              periodSeconds: 30
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/health
                port: 8080
              initialDelaySeconds: 5
              periodSeconds: 10
        resources:
          requests:
            memory: 64Mi
            cpu: 100m
          limits:
            memory: 128Mi
            cpu: 200m

service:
  main:
    controller: main
    ports:
      http:
        port: 8080
