apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: ingress-nginx
  releaseName: ingress-nginx
  namespace: networking
  version: 4.14.0
  repo: https://kubernetes.github.io/ingress-nginx
  valuesInline:
    controller:
      ingressClassResource:
        name: nginx
        enabled: true
        default: false
        controllerValue: "k8s.io/ingress-nginx"
        parameters: {}
