apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./resources/external-secret.yaml

helmCharts:
- name: argo-cd
  releaseName: argocd
  namespace: argocd
  version: 9.1.3
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
